.App-header {
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.left {
  color: white;
  font-style: oblique;
}

.right {
  display: flex;
  gap: 50px;
  color: white;
}

.right span {
  text-decoration: none; 
  cursor: pointer; 
}
.home{
  color: aquamarine;
  font-style: italic;
}
